
ignore/
stl/
batch/
site/
westfab-previews/output/
.DS_Store
/*.json

# From https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
